<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
    <!-- 필요한 CSS 파일을 여기에 추가 -->
    <link rel="stylesheet" type="text/css" href="/bookingchecked.css" />
</head>
<body>
    <div class="wrapper">
        <header>
			<div class="header"><a href="/main">메인페이지	</a></div>
            <div class="header">
                <span class="username" th:text="${session.username} ? ${session.username + ' 님'} : ''"></span>
                <a href="/myInfo">내정보</a>
            </div>   
        </header>
        <div class="container">
            <h2>예약 확인</h2>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>예약 날짜</th>
                                <th>예약 취소</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="booking : ${bookings}">
                                <td th:text="${booking.reservedDate}"></td>
                                <td>
                                    <form action="/cancel" method="post">
                                        <input type="hidden" name="userId" th:value="${booking.userId}" />
                                        <input type="hidden" name="reservedDate" th:value="${booking.reservedDate}" />
                                        <button type="submit">예약 취소</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




