<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/login.css" />
		<title>login page</title>
	</head>
	<body>
		<div class="wrapper">
		<header class="login-header">
			<div class="yuhan--logo">아이콘</div>
		</header>
		
		<form class="login-form">
			<input type="text" placeholder="이메일 주소" />
			<input type"password" placeholder="비밀번호"/>
			<input type="submit" value="로그인" />
			<div>아직 회원이 아니신가요? <a href="/signup">회원가입</a></div>
		</form>
		</div>
		

	</body>
</html>